{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
{% if messages %}
{% for m in messages %}
<div {% if m.tags %} class="alert alert-{{m.tags}}" {% endif %} class="alert alert-success" role="alert">
    {{m}}
</div>
{% endfor %}
{% endif %}

<form novalidate method="post" style="width: 400px;margin: auto;">
    <!-- {{form | crispy}} -->
    <h1>Signup Page</h1>
    {% csrf_token %}
    {% for fm in form %}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors|striptags}}
    {% endfor %}
    <br>
    <button class="btn btn-primary" type="submit">SignUp</button>
</form>

{% endblock %}